*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/************************************************************ header*********************************************************** */

header{
    height: 100vh;
    background-image: url('time1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.trois-header{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 350px;
}
/******************************************************************* service *********************************************************/
#services{
    margin-bottom: 100px;
}
#doree{
    border-radius: 50%;
}
/************************************************************* portfolio ****************************************************************/
#portfolio{
    background-color: #dddddd;
}
#row1{
    background-color: red;
}
#row2{
    background-color: green;
}
/************************************************************* about *******************************************************************/
#about{
    margin-top: 250px;
}
.timeline{
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container-about{
    padding: 10px 50px ;
    position: relative;
    width: 50%;
    /* background-color: orange; */
}
.text-box{
    padding: 20px 30px ;
    background-color: white;
    position: relative;
    border-radius: 6px;

}
.text-box h2{
    text-transform: capitalize;
    font-weight: bold;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.container-about img  ,.last{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #dddddd;
    z-index: 10;
    right: -50px;
    top: -10px;
    
    
}
.right-container img{
    left: -50px;
    top: -10px;

}
.last{
    color: white;
    background-color: #ffcc00;
    border-radius: 50%;
    border: 2px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last p{
    width: 75%;
    text-transform: capitalize;
}
.timeline::after{
    content:  '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #dddddd;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}
@media screen and (max-width:900px){
    #about{
        padding-top: 350px;
    }
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 60px;
    }
    .container-about{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;

    }
    .right-container{
        left: 0;
    }
    .left-container img , .right-container img , .last{
        left: 10px;
        
    }
    .text-box{
        top: -30px;
        left: 20px;
    }
    .text-box p{
        font-size: 20px;
        
    }
    
}
/**************************************************************** team **********************************************************************/
#team{
    background-color: #eeeeee;
}
#team img{
    width: 100px;
    height: 100px;
    border: 5px solid #dddddd;
}
/********************************************************************** contact *************************8************************************/
#contact{
   
    background-image: url('a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.row{
    height: 200px;
}
#input  , textarea{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
}
.trois{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#input{
    padding-bottom: 30px;
}
textarea{
    height: 200px;
}
.send{
   display: flex;
   justify-content: center;
   align-items: center;

    
}
#send{
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 0 auto;
    
}
/******************************************************* footer******************************** */
@media screen and (max-width:800px){
    #team .row{
        padding-bottom: 800px;
    }
  #contact .container{
    padding-bottom: 200px;
   
  }
  #portfolio .row{
   padding-bottom: 300px;

  }
  #portfolio{
    padding-top: 800px;
  }
}
